.PresenterImageContainer {
  /* display: block; */
  margin-right: 1rem;
  /* grid-area: image; */
  /* width: calc(auto*1);
  padding-bottom: 100%; */
}

.PresenterImage {
  border-radius: .375rem;
  /* overflow: hidden; */
  /* max-width: 100%; */
  max-width: 70%;
  /* height: auto;
  vertical-align: top; */
}

@media (min-width: 48em) {
  .PresenterImage {
    max-width: 100%;
  }
}
