.BrandAndMastheadActions {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  justify-content: space-between;
}

.logoWrapper {
  padding: 1rem 1rem;
}

.mastheadLogo {
  color: #ed1d54;
}